---
import json from "../js/info.json";
// import { type WorkExperience } from "../types/info";
import Badge from "./Badge.astro";

// Icons
import Download from "../components/icons/Download.astro";
import Briefcase from "../components/icons/Briefcase.astro";
---

{
  json.workExperience! && Object.keys(json.workExperience).length > 0 && (
    <>
      <h2 class="text-3xl font-medium mb-6 flex gap-x-3 items-center text-white">
        <Briefcase class="size-7" />
        Experience
      </h2>

      <ol class="relative border-s dark:border-gray-200 border-gray-700 ml-3">

        {json.workExperience.map((item) => (

          <li class="mb-10 ms-4 flex-wrap">
            <div class="absolute w-3 h-3 dark:bg-gray-200 rounded-full mt-1.5 -start-1.5 border dark:border-white border-gray-900 bg-gray-700" />

            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-blue-300">
              {item.startDate} - {item.endDate}
            </time>

            <h3 class="text-lg font-semibold text-gray-900 dark:text-white mt-2">
              {item.title}
              <Badge color="bg-blue-600 dark:bg-blue-900 dark:text-blue-300 px-1 ml-4">
                {item.type}
              </Badge>
            </h3>

            <span class="text-xs font-normal text-gray-600 dark:text-gray-400">
              {item.company! && item.location! && " at "}
              {item.company! && item.company}
              {item.company! && item.location! && " in "}
              {item.location! && item.location}
            </span>

            <p class="text-base font-normal text-gray-500 dark:text-gray-100 pt-2 text-pretty">
              ✓ {item.description}
            </p>

            <span class="inline-flex items-center text-xs font-normal text-gray-500 dark:text-gray-400 [&>*:last-child]:after:content-['_'] flex-wrap">
              {item.technologies.map((tech) => (
                <span class="me-2 after:content-['_•']">{tech}&nbsp;</span>
              ))}
            </span>
          </li>

        ))}

      </ol>

      <div class="flex flex-col items-center justify-center mt-10 gap-5">
        <p class="text-sm font-normal leading-none text-gray-500 dark:text-gray-400">
          Want to see the rest?
        </p>
        <a
          href="https://docs.google.com/document/d/1ywegxadh2CwsQ7TTVmfwqj9tszkAUaLw--NJfR9GTBw/edit?usp=sharing"
          target="_blank"
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
        >
          Download CV
          <Download class="size-5 ms-1" />
        </a>
      </div>
    </>
  )
}
