---
import json from "../js/info.json";
import Code from "./icons/Code.astro";

// Tech Icons
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import React from "./icons/React.astro";
import Redux from "./icons/Redux.astro";
import PostgreSQL from "./icons/PostgreSQL.astro";
import Rails from "./icons/Rails.astro";
import WordPress from "./icons/WordPress.astro";
import Elementor from "./icons/Elementor.astro";
import Illustrator from "./icons/Illustrator.astro";

// Tipado de los iconos
type TechType = {
  [key: string]: {
    name: string;
    class: string;
    icon?: any;
  };
};

const techs: TechType = {
  React: {
    name: "React",
    class: "bg-[#61DAFB]/40 text-white",
    icon: React,
  },
  Redux: {
    name: "Redux",
    class: "bg-[#764ABC]/30 text-white",
    icon: Redux,
  },
  PostgreSQL: {
    name: "PostgreSQL",
    class: "bg-[#336791]/20 text-white",
    icon: PostgreSQL,
  },
  Rails: {
    name: "Ruby on Rails",
    class: "bg-[#CC0000]/10 text-white",
    icon: Rails,
  },
  Tailwind: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  Next: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  WordPress: {
    name: "WordPress",
    class: "bg-[#003159]/40 text-white",
    icon: WordPress,
  },
  Elementor: {
    name: "Elementor",
    class: "bg-[#92003B]/20 text-white",
    icon: Elementor,
  },
  Illustrator: {
    name: "Adobe Illustrator",
    class: "bg-[#FF9A00]/20 text-white",
    icon: Illustrator,
  },
};
---

{
  json.projects! && Object.keys(json.projects).length > 0 && (
    <a>
      <h2 class="text-3xl font-medium mb-6 flex gap-x-3 items-center text-white">
        <Code class="size-7" />
        Projects
      </h2>

      {json.projects.map((project) => (
        <article class="mt-8">
          <h3 class="text-2xl font-semibold">{project.name}</h3>
          <p class="text-lg mb-4 text-pretty">{project.description}</p>
          <ul class="flex gap-x-2 flew-row mb-4">
            {project.tags.map((tag) => {
              const IconComponent = techs[tag]?.icon;

              return techs[tag] ? (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs py-1 px-2 ${techs[tag].class}`}
                  >
                    {IconComponent && <IconComponent class="size-4" />}
                    {techs[tag].name}
                  </span>
                </li>
              ) : (
                <span class="flex gap-x-2 rounded-full text-xs py-1 px-3 bg-black text-white">
                  <li>{tag}</li>
                </span>
              );
            })}
          </ul>
          <img
            src={project.image}
            alt={project.name}
            class="rounded shadow-2xl shadow-white/10"
          />
        </article>
      ))}
    </a>
  )
}
